<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<style>
    .hidden {
        display: none;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 300px;
    }

    li {
        clear: both;
    }

    li button {
        border: none;
        outline: none;
        color: red;
        float: right;
        cursor: pointer;
        font-size: 20px;
    }

    .lists-wrapper,
    .todos-wrapper {
        display: inline-block;
        vertical-align: top;
    }

    main {
        display: flex;
        padding: 2em;
    }
</style>

<body>
    <div class="container">
        <h1>Todo App</h1>

        <main>
            <!-- start of list wrapper -->
            <div class="list-wrapper">
                <h4>Todo Lists</h4>
                <form id="list_form">
                    <input type="text" id="name" name="name" placeholder="A new list" />
                    <input type="submit" value="Create" />
                </form>
                <ul id="lists">
                    {% for list in lists %}
                    <li class="list-item">
                        <a href="/lists/{{list.id}}">{{list.name}} </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <!-- end of list wrapper -->

            <!-- start of todos wrapper -->
            <div class="todos-wrapper">
                <h4>{{ active_list.name }}</h4>
                <form id="form">
                    <input type="text" id="description" name="description" placeholder="a new todo" />
                    <input type="submit" value="Create" />
                </form>
                <div id="error" class="hidden">Something went wrong!</div>
                <ul id="todos">
                    {% for todo in todos %}
                    <li>
                        <input class="check-completed" data-id="{{ todo.id }}" type="checkbox" {% if todo.completed %}
                            checked {% endif %} />
                        {{ todo.description }}
                        <button class="delete-button" data-id="{{ todo.id }}">&cross;</button>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <!-- end of todos wrapper -->
        </main>
    </div>

    <script>
        /* DELETE TODO LOGIC */
        const deleteBtns = document.querySelectorAll('.delete-button');
        for (let i = 0; i < deleteBtns.length; i++) {
            const btn = deleteBtns[i];
            btn.onclick = function (e) {
                const todoId = e.target.dataset['id'];
                fetch('/todos/' + todoId, {
                    method: 'DELETE'
                })
                    .then(function () {
                        const item = e.target.parentElement;
                        item.remove();
                    })
            }
        }

        /* TOGGLE CHECKBOX LOGIC*/
        const checkboxes = document.querySelectorAll('.check-completed');
        for (let i = 0; i < checkboxes.length; i++) {
            const checkbox = checkboxes[i];
            checkbox.onchange = function (e) {
                const newCompleted = e.target.checked;
                const todoId = e.target.dataset['id'];
                fetch('/todos/' + todoId + '/set-completed', {
                    method: 'POST',
                    body: JSON.stringify({
                        'completed': newCompleted
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                    .then(function () {
                        document.getElementById('error').className = 'hidden';
                    })
                    .catch(function () {
                        document.getElementById('error').className = '';
                    })
            }
        }

        /* CREATE A NEW TODO*/
        const descInput = document.getElementById('description');
        document.getElementById('form').onsubmit = function (e) {
            e.preventDefault();
            const desc = descInput.value;
            descInput.value = '';
            fetch('/todos/create', {
                method: 'POST',
                body: JSON.stringify({
                    'description': desc,
                    'list_id': {{ active_list.id }}
          }),
        headers: {
            'Content-Type': 'application/json',
          }
        })
        .then(response => response.json())
            .then(jsonResponse => {
                const li = document.createElement('li');
                const checkbox = document.createElement('input');
                checkbox.className = 'check-completed';
                checkbox.type = 'checkbox';
                checkbox.setAttribute('data-id', jsonResponse.id);
                li.appendChild(checkbox);

                const text = document.createTextNode(' ' + jsonResponse.description);
                li.appendChild(text);

                const deleteBtn = document.createElement('button');
                deleteBtn.className = 'delete-button';
                deleteBtn.setAttribute('data-id', jsonResponse.id);
                deleteBtn.innerHTML = '&cross;';
                li.appendChild(deleteBtn);

                document.getElementById('todos').appendChild(li);
                document.getElementById('error').className = 'hidden';
            })
            .catch(function () {
                console.error('Error occurred');
                document.getElementById('error').className = '';
            });
        }

        /* CREATE A NEW LIST */
        const nameInput = document.getElementById('name');
        document.getElementById('list_form').onsubmit = e => {
            e.preventDefault();
            new_list = nameInput.value;
            // send request to add new list to db
            fetch('/lists/create',{
                method: 'POST',
                body: JSON.stringify({
                    'name': new_list,
                }),
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            // get response and update list of TodoLists
            .then(resp => resp.json())
            .then(list => {
                // create new li element with class 'li-item'
                const li = document.createElement('li');
                li.className='item';

                // create a link element with href and value set from response and append to li element created
                const a_el = document.createElement('a');
                a_el.href = `/lists/${list.id}`
                a_el.innerHTML = `${list.name}`
                li.appendChild(a_el);

                // append the li element to the ul of todoLists
                document.getElementById('lists').appendChild(li)
            })
        }
    </script>
</body>

</html>