<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<style>
    .hidden {
        display: none;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        padding: .2em 1em;
        background: rgba(145, 163, 181, 0.091);
    }

    li label {
        margin-right: 2em
    }
</style>

<body>
    <div class="container">
        <h1>Todo App</h1>

        <div class="row mb-2">
            <form id="form" class="form-inline">
                <label for="description">Description</label>
                <input type="text" class="form-control" id="description" name="description">

                <button type="submit" class="btn btn-primary">add todo</button>
            </form>
        </div>

        <div id="error" class="hidden">Something went wrong</div>

        <div class="row">
            <ul id="todo">
                {% for d in data %}
                <li>
                    <label>
                        <input class="check-completed" type="checkbox" data-id="{{d.id}}" {%if d.completed %} checked {%
                            endif %}{{ d.description }} />
                        {{d.description}}
                    </label>
                    <button class="btn btn-sm text-danger">X</button>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>

<script>
    /*========on form submission =====================*/
    document.getElementById('form').onsubmit = (e => {
        e.preventDefault();
        fetch('/todos/create', {
            method: 'POST',
            body: JSON.stringify({
                'description': document.getElementById('description').value
            }),
            headers: {
                'Content-Type': 'application/json',
            }
        }).then(response => response.json())
            .then(data => {
                Error
                const liElement = document.createElement('li');
                liElement.innerHTML = data.description;
                document.getElementById('todo').appendChild(liElement);
                document.getElementById('error').className = 'hidden';
            })
            .catch(() => {
                document.getElementById('error').className = '';
            })
    })
    /*=========check completed ======================*/
    checkboxes = document.querySelectorAll('.check-completed');
    for (let i = 0; i < checkboxes.length; i++) {
        checkbox = checkboxes[i];
        checkbox.onchange = e => {
            const newCompleted = e.target.checked;
            const todoId = e.target.dataset['id'];
            fetch(`/todos/${todoId}/set-completed`, {
                method: 'POST',
                body: JSON.stringify({
                    'completed': newCompleted
                }),
                headers: {
                    'Content-Type': 'application/json',

                }
            })
                .then(() => {
                    document.getElementById('error').className = 'hidden';
                })
                .catch(() => {
                    document.getElementById('error').className = '';
                })
        }
    }

</script>

</html>